<div class="grid mod_bakery_sum">	
	<div class="unit whole align-right">
		{TXT_SUM}: {SETTING_SHOP_CURRENCY}&nbsp;{ORDER_TOTAL}
	</div>
</div>

<div class="grid mod_bakery_buttons">
	<div class="unit two-thirds">
		<input type="submit" name="continue_shopping" class="mod_bakery_bt_continue_f" value="{TXT_CONTINUE_SHOPPING}" />
		<input type="submit" name="update_cart" id="update" class="mod_bakery_bt_update_f" value="{TXT_UPDATE_CART}" />
	</div>
	<div class="unit one-third align-right">
		<input type="submit" name="submit_order" class="mod_bakery_bt_order_f" value="{TXT_SUBMIT_ORDER}" />
	</div>
</div>

<input type="hidden" name="order_id" value="{ORDER_ID}" />
</form>