
<div class="grid no-gutters mod_bakery_row mod_bakery_cart_head">
	<div class="unit half">
		<div class="grid">
			<div class="unit one-third hide-on-mobiles">
				&nbsp;
			</div>
			<div class="unit two-thirds">
				{TXT_NAME}
			</div>
		</div>
	</div>
	<div class="unit half">
		<div class="unit one-third">
			{TXT_QUANTITY}
		</div>
		<div class="unit two-thirds">
			<div class="grid hide-on-mobiles">
				<div class="unit one-third">
					{TXT_PRICE} {SETTING_SHOP_CURRENCY}
				</div>
				<div class="unit one-third">
					<span style="display: {DISPLAY_SHIPPING}">{TXT_SHIPPING} {SETTING_SHOP_CURRENCY}</span> &nbsp;
				</div>
				<div class="unit one-third align-right">
					{TXT_SUM} {SETTING_SHOP_CURRENCY}
				</div>
			</div>	
			<div class="grid only-on-mobiles">
				<div class="unit whole">
					{TXT_PRICE} <span style="display: {DISPLAY_SHIPPING}">/{TXT_SHIPPING}</span> / {TXT_SUM} {SETTING_SHOP_CURRENCY}
				</div>
			</div>
		</div>
	</div>
</div>	